<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Welcome To The User Index Page</h1>
      <p>Here's a list of all the currently registered users.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Do Someting »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Do Another Thing »</a></p>
    </div>
    <div class="col-md-4">
      <div class="bignail"></div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row">
      <div>
        <% @users.each do |user| %>
      	<div class="col-lg-4 d-flex align-items-stretch" id="user-<%=user.id%>">
          <a href='<%= user_path(user) %>'><b><%= user.email_address%></b></a><br />
          Name: <%= user.first_name %> <%= user.last_name %><br />
          Role: <%= user.role %><br />
          Enabled: <%= user.enabled %><br />
          <%= link_to 'Enable', enable_path(:id => user.id), method: :put, :class => "btn btn-outline-success" %>
          <%= link_to 'Disable', disable_path(:id => user.id),  method: :put, :class => "btn btn-outline-danger" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
