<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Pub Registration!</h1>

      <%= form_for @user do |f| %>
        <%= f.label :first_name %>:
        <%= f.text_field :first_name %> <br>

        <%= f.label :last_name %>:
        <%= f.text_field :last_name %> <br>

        <%= f.label :street_address %>:
        <%= f.text_field :street_address %> <br>

        <%= f.label :city %>:
        <%= f.text_field :city %> <br>

        <%= f.label :zip %>:
        <%= f.number_field :zip %> <br>

        <%= f.label :state %>:
        <%= f.text_field :state %> <br>

        <%= f.label :email_address %>:
        <%= f.text_field :email_address %> <br>

        <%= f.label :password %>:
        <%= f.password_field :password %> <br>
        <%= f.submit %> <br>
      <% end %>

      <p>You are on your way to be Hoppily ever after.</p>
    </div>
    <div class="col-md-4">
      <div class="beer_regi"></div>
    </div>
  </div>
