<div class="jumbotron">
  <div class="container">
    <div class="col-md-12">
      <h1>Welcome, <%= @user.first_name %>  <%= @user.last_name %></h1>
      <%= link_to "Edit your personal info", edit_user_path(@user), method: :get %><br />
      Your personal info:
      Address: <%= @user.street_address %>, <%= @user.city %>, <%= @user.state %> <%= @user.zip%>
      email: <%= @user.email_address %><br /><br />
      <% if !current_user.nil? && current_user.role == "admin" %>
        <%= link_to "See User's Dashboard", dashboard_user_path(@user), method: :get %><br />
        <%= link_to "See User's Orders", profile_orders_path(:id => @user.id), method: :get %>
      <% end %>
    </div>
  </div>
</div>
