<h1><%= @user.first_name %>  <% @user.last_name %>'s items' </h1>

<% num = 0 %>
<% @items.each do |item| %>
  <p>============================</p>
  <p>Item name: <%= item.name %></p>
  <p>Item price: <%= item.price %></p>
  <p>Item description: <%= item.description %></p>
  <div id="<%= num %>">
    <p> <%= link_to "Edit Item", edit_item_path(item), method: :get %> </p>
  </div>
  <p>============================</p>
  <% num += 1 %>
<% end %>
