<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1><%= @user.first_name %>  <% @user.last_name %>'s items' </h1>
      <p><a class="btn btn-primary btn-sm" href='<%= new_dashboard_item_path %>'><b><%= 'Add Item' %></a></p>
    </div>
    <div class="col-md-4">
      <div class="bignail"></div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="smallthings">
        <% @items.each do |item| %>
      	<div class="col-lg-4 d-flex align-items-stretch" id="item-<%=item.id%>">
          <h3><%= item.name %></h3>
          Description: <%= item.description %><br />
          <img src="<%=item.thumbnail%>" class="thumbnail">
          Price: $<%= item.price %><br />
          <%= item.inventory %> in stock<br />
          <%= link_to "Edit Item", edit_item_path(item), method: :get %><br />
          <% if item.enabled == true %>
          <b>Enabled
          <%= link_to 'Disable', disableitem_path(:id => item.id),  method: :put, class: "btn btn-primary btn-xs" %><br />
          <br />
          <% else %>
          <b>DISABLED
          <%= link_to 'Enable', enableitem_path(:id => item.id), method: :put, class: "btn btn-primary btn-xs" %>
          <br />
          <% end %>
          <br />
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
