<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1><%= @user.first_name %>  <% @user.last_name %>'s items' </h1>
      <p><a class="btn btn-primary btn-sm" href='<%= new_dashboard_item_path %>'><b><%= 'Add Item' %></a></p>
    </div>
    <div class="col-md-4">
      <div class="bignail"></div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="row">
      <div class="smallthings">
        <% @items.each do |item| %>
      	<div class="col-lg-4 d-flex align-items-stretch" id="item-<%=item.id%>">
          <p><%= item.name %></p>
          Price: <%= item.price %><br />
          Item description: <%= item.description %><br />
          <%= link_to "Edit Item", edit_item_path(item), method: :get %><br />
          Enabled: <%= item.enabled %><br />
          <%= link_to 'Enable', enableitem_path(:id => item.id), method: :put, class: "btn btn-primary btn-xs" %>
          <%= link_to 'Disable', disableitem_path(:id => item.id),  method: :put, class: "btn btn-primary btn-xs" %><br />
          <br />
          <br />
        </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
