<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Item addition!</h1>

      <%= form_for @item do |f| %>
        <%= f.label :name %>:
        <%= f.text_field :name %> <br>

        <%= f.label :description %>:
        <%= f.text_field :description %> <br>

        <%= f.label :thumbnail %>:
        <%= f.text_field :thumbnail, :value => "https://www.drinkpreneur.com/wp-content/uploads/2017/04/drinkpreneur_2016-01-26-1453821995-8643361-beermain.jpg" %> <br>

        <%= f.label :price %>:
        <%= f.number_field :price %> <br>

        <%= f.label :inventory %>:
        <%= f.number_field :inventory %> <br>

        <%= f.submit %> <br>
      <% end %>



      <p>Add Items above.</p>
    </div>
    <div class="col-md-4">
      <div class="beer_regi"></div>
    </div>
  </div>
