<h1>Edit Item Info here:</h1>

<%= form_for @item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :inventory %>
  <%= f.number_field :inventory %>

  <%= f.label :thumbnail %>
  <%= f.text_field :thumbnail %>

  <%= f.submit %>
<% end %>
