<div class="jumbotron">
    <h1>Items For Sale</h1>
    <p>Expect more bitchin' information here.</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Do Someting »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Do Another Thing »</a></p>
</div>
<div class="row">
<% @items.each do |item| %>
	<div class="col-md-2">
    <a href='<%= item_path(item) %>'><b><%= item.name %></b></a>
    <p>Description: <%= item.description %></p>
    <p>Price: <%= item.price %></p>
    <p>We have <%= item.inventory %> in stock<p>
    <p> <%= item.thumbnail %><p>
    <p><i>Author(s):</i></p>
	</div>
<% end %>
</div>
