<img src=<%= @item.thumbnail %>>
<h2><%= @item.name %></h2>
<ul>
  <li><strong>Description: </strong><%= @item.description %></li>
  <li><strong>Merchant Name: </strong><%= @item.name %></li>
  <li><strong>Inventory: </strong><%= @item.inventory %></li>

  <li><strong>Price: $</strong><%= @item.price %></li>
</ul>
<%= button_to "Add to Cart", cart_path(item_id: @item.id) %>
