<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pub Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <div class="container">
  <nav class="navbar navbar-inverse navbar-static-top">
  <div class="col-md-2">
        <ul><a href='/'>Home</a></ul>
        <ul><a href= <%= items_path %> >Items for Sale</a></ul>
        <ul><a href="#">Merchants</a></ul>
  </div>
  <div class="col-md-8">
    <div class="container-fluid-nav title">
      <h1>The Pub Shop</h1><div class="supertitle">  a little shop of choice victuals</div>
    </div>
  </div>
  <div class="col-md-2">
		<ul><a href="#">Items in Cart:</a></ul>
    <% if session[:user_id].nil? %>
		<ul><a href= <%= new_user_path %> >Register</a></ul>
    <ul class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <ul><a href= <%= login_path %> >User</a></ul>
        <ul><a href="#">Merchant</a></ul>
        <ul><a href="#">Admin</a></ul>
      </ul>
    </ul>
    <% end %>
  </nav>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
