<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pub Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="col-md-2">
            <a href='/'>Home</a><br />
            <a href= <%= items_path %> >Items for Sale</a><br />
            <a href="#">Merchants</a><br />
      </div>
      <div class="col-md-8">
        <div class="container-fluid-nav title">
          <h1>The Pub Shop</h1><div class="supertitle">  a little shop of choice victuals</div>
        </div>
      </div>
      <div class="col-md-2">
        <% if session[:user_id].nil? %>
    		<a href = <%= login_path %> >Login</a><br />
    		<a href = <%= new_user_path %> >Register</a><br />
        <% else  %>
          <%= link_to 'Logout', logout_path(session[:user_id]), method: :delete %><br />
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >Account<span class="caret"></span></a><br />
					<ul class="dropdown-menu">
						<ul><a href = <%= user_path(session[:user_id]) %>>Profile</a></ul>
						<ul><a href = "#">Orders</a></ul>
            <% if current_user.role != "default" %>
						<ul><a href = <%= dashboard_user_path(session[:user_id]) %> >Dashboard</a></ul>
            <% if current_user.role == "admin" %>
    					<ul><a href = <%= users_path %> >Users</a></ul>
              <% end %>
            <% end %>
					</ul>
        <% end %>
        <a href = <%= "/carts" %> >Cart Items: </a><b class="boxed"> <%= @cart.total_count%> </b>
      </div>
    </nav>
  </div>
  <div class="container">
     <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    <%= yield %>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
